* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  min-height: 100vh;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

:root {
  --color: #3a7cfd;
  --check-gradient: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  /* --transition-speed: 0.3s; */
}

body.dark-theme {
  background-color: #171823;
  --card-bg: #25273c;
  --text-main: #c8cae4;
  --text-hover: #e4e5f1;
  --text-muted: #5b5e7e;
  --text-completed: #4d5067;
  --border-color: #393a4b;
  --shadow: rgba(194, 195, 214, 0.5) 0px 35px 50px -15px;
  --bg-image-desktop: url("./images/bg-desktop-dark.jpg");
  --bg-image-mobile: url("./images/bg-desktop-light.jpg");
}

body {
  background-color: var(--body-bg);
  color: var(--text-main);
}

/* Background Header Img */
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: var(--bg-image-desktop);
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: background-image 0.3s ease;
}

/* Main Container 1 */
.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 540px;
  padding: 70px 24px 40px;
}

/* Logo & Toggle */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

#theme-toggle:hover {
  transform: rotate(15deg) scale(1.1);
}

.hidden {
  display: none;
}

/* Card Elements */
.input-section,
.todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--card-bg);
  border-radius: 5px;
  padding: 20px 24px;
  transition: background-color var(--transition-speed);
}

/* Input Section */
.input-section {
  margin-bottom: 24px;
  box-shadow: var(--shadow);
}

#new-todo-input {
  flex: 1;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: var(--text-main);
  outline: none;
  margin-left: 24px;
}

#new-todo-input::placeholder {
  color: var(--text-muted);
}
/* Custom Checkbox Design */
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.checkbox-circle-static {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: border-color var(--transition-speed);
}

/* Add Todo Check button */
.todo-checkbox {
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  /* z-index: 2; */
}

.checkout-circle {
  width: 24px;
  height: 24px;
  border: 2px solid #64748b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transition-speed)
    backgroundvar(--transition-speed);
  position: relative;
  /* z-index: 1;*/
}

/* Checkbox hover, Gradient border */
.checkbox-container:hover .checkbox-circle {
  border-color: transparent;
  background:
    linear-gradient(var(--card-bg), var(--card-bg)) padding-box,
    var(--check-gradient) border-box;
  border: 1px solid transparent;
}

.todo-checkbox:checked + .checkbox-circle {
  background: var(--check-gradient);
  border: none;
}

.checkbox-circle svg {
  opacity: 0;
  transition: opacity 0.15s ease;
}
.todo-checkbox:checked + .checkbox-circle svg {
  opacity: 1;
}

/* Todo Card (List Wrapper/Line) */
.todo-card {
  background-color: var(--card-bg);
  border-radius: 5px;
  box-shadow: var(--shadow);
  overflow: hidden;
  margin-bottom: 24px;
  transition:
    background-color var(--transition-speed),
    box-shadow var(--transition-speed);
}
.todo-list {
  display: flex;
  flex-direction: column;
}

/* Todo Items */
.todo-item {
  border-bottom: 1px solid var(--border-color);
  border-radius: 0; /* Align perfectly inside the card */
  cursor: grab;
  position: relative;
  transition:
    background-color var(--transition-speed),
    border-color var(--transition-speed);
  animation: fadeIn 0.3s ease-out;
}
.todo-item:active {
  cursor: grabbing;
}

.todo-item.dragging {
  opacity: 0.4;
  border: 2px dashed var(--primary-blue);
  background-color: rgba(58, 124, 253, 0.05);
}
.todo-item.drag-over {
  border-top: 2px solid var(--primary-blue);
}
